.hero-bg{
    background: url(../img/bg.jpg);
    height: 100vh;
}

.hero{
    
    height: 100vh;
    align-items: center;
    display: flex;
}

.main{
    align-self: center;
}

.code{
    font-family: "Roboto mono";
    font-size: 1.5rem;
    color: #01BBFF;
    font-weight: bold;
}

.main h1{
    font-size: 4.68rem;
    margin-top: 10px;
    line-height: 1;
}

.digitacao{
    margin-bottom: 45px;
    align-items: center;
    overflow: hidden;
}

.digitacao .texto{
    font-size: 3.3rem;
    color: #01BBFF;
    font-weight: bold;
    position: relative;
}

.digitacao .texto.first-text{
    color:#AEAEAE;
    padding-right: 10px;
}
.texto.sec-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../img/bg.jpg);
    border-left: 2px solid #AEAEAE;
    animation: animate 4s steps(12) infinite;
}
.main h2 span{
    color: #01BBFF;
}

.main-text{
    font-size: 1.25rem;
    color: #AEAEAE;
    max-width: 600px;
    margin-bottom: 60px;
}

.logo{
    border: 3px solid #01BBFF;
    border-radius: 50%;
    padding: 8px;
    transition: 0.3s;
}
.logo:hover{
    fill: #FFF;
}

.logo:hover{
    border: 3px solid #FFF;
    transition: 0.3s;
}

.redes-btn{
    display: flex;
    gap: 15px;
    align-items: center;
}

.redes-cv{
    border: 3px solid #01BBFF;
    padding: 20px 60px;
    font-weight: 300;
    font-size: 1.25rem;
    border-radius: 20px;
    transition: 0.2s;
    display: flex;
    gap: 5px;
}
.redes-cv:hover{
    border: 3px solid #fff;
    transition: 0.2s;
}

.redes{
    display: flex;
    gap: 40px;
}







/* kEYFRAME */
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    10%{
        left: 100%;
    }
}


/* MEDIA */
@media (max-width:700px) {
    .digitacao .texto.first-text{
        color:#AEAEAE;
        padding-right: 5px;
    }
    
    .main{
        align-self: center;
    }
    
    .code{
        font-family: "Roboto mono";
        font-size: 1rem;
        color: #01BBFF;
        font-weight: bold;
    }

    .main-text{
        font-size: 1.1rem;
        max-width: 450px;

    }
    
    .main h1{
        font-size: 2.98rem;
        margin-top: 10px;
        line-height: 1;
    }
    
    .digitacao{
        margin-bottom: 45px;
    }
    
    .digitacao .texto{
        font-size: 2.3rem;
    } 
}

@media (max-width:550px){
    .redes{
        gap: 20px;
    }
    
    .redes-cv{
        padding: 20px 20px;
        font-weight: 300;
        font-size: 1.05rem;
    }

}

@media (max-width:400px){
    .main h1{
        font-size: 2.58rem;
        margin-top: 10px;
        line-height: 1;
    }
    
    .digitacao .texto{
        font-size: 2rem;
    } 

    .logo{
        width: 50px;
        height: auto;
    }
}

@media (max-width:350px){
    .digitacao .texto{
        font-size: 1.8rem;
    } 
}